@media (min-width: 516px) {
  .navbarContainer {
    width: 100%;
  }
}

.navbarContainer {
  display: flex;
  max-width: 900px;
  justify-content: flex-end;
}

@media (max-width: 516px) {
  .Profilepicture {
    border-radius: 20px;
    width: 290px;
    height: auto;
    margin: 0;
  }

  #container {
    display: flex;
    max-width: 900px;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .Introcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
  }
}

@media (min-width: 516px) {
  #container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
  }

  .Profilepicture {
    border-radius: 20px;
    width: 290px;
    height: auto;
    margin-top: 48px;
    margin-right: 40px;
    margin-left: 10px;
  }
  .Introcontainer {
    display: flex;
    flex-direction: row;
  }
}

.name {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 65px;
  margin-bottom: 15px;
  margin-right: 22px;
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
}

.nameDark {
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 65px;
  margin-bottom: 15px;
  margin-right: 22px;
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
}

.Bg {
  background-color: #ecf0f4b8;
}

.darkBg {
  background-color: #121212;
}

.pstyle {
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
  text-align: justify;
  font-weight: 500;
  margin: 12px 0;
}

.pstyleDark {
  color: white;
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
  text-align: justify;
  font-weight: 500;
  margin: 12px 0;
}
